# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Flask
instance/
.webassets-cache

# Environment Variables
.env

# Database
*.db
*.sqlite3

# IDEs / Editors
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Flask Migration
.env
migrations/*